@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #0f141e;
    background: azure;
}

.container {
    max-width: 750px;
    margin: 0 auto;
}

.header {
    color: darkcyan;
    background: rgba(95, 158, 160, .4);
    border-bottom: 6px solid darkcyan;
    border-left: 18px solid darkcyan;
    display: flex;
}

@media (max-width: 685px) {
    .header {
        display: block;
        text-align: center;
    }
}

.header p {
    font-style: italic;
}

.header p span {
    font-weight: bold;
}

.img {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

h1, h2, h4 {
    margin-bottom: 20px;
}

.card {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.info h4 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.info p:last-of-type {
    margin-bottom: 20px;
}

.hobby {
    color: darkred;
    border-bottom: 6px solid darkred;
    border-left: 18px solid darkred;
    background:rgba(220, 20, 60, .4)
}

.hobby ol {
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
    list-style: none;
    width: 30%;
}

.hobby li::first-letter {
    font-weight: bolder;
}

.hobby ol li {
    padding-left: 24px;
    border-bottom: 1px solid darkred;
    margin-bottom: 6px;
}

@media (max-width: 685px) {
    .hobby ol {
        width: 40%;
    }
}

@media (max-width: 530px) {
    .hobby ol {
        width: 50%;
    }

    .hobby ol li {
        padding-left: 0;
    }
}

.job {
    color: darkblue;
    background: rgb(0, 0, 139, .4); 
    border-bottom: 6px solid darkblue;
    border-left: 18px solid darkblue;
}

.table {
    width: 100%;
}

.table td {
    border: 2px solid darkblue; 
    padding: 5px 15px; 
 }

 .table td:first-child {
     font-weight: bold;
 }

 .table td:nth-child(2),
 .table td:last-child {
     font-style: italic;
 }

.table td:last-child {
    padding-left: 0;
    text-align: center;
}
 
.footer {
    color: saddlebrown;
    background: rgba(210, 105, 30, .6);
    border-bottom: 6px solid saddlebrown;
    border-left: 18px solid saddlebrown;
    margin-bottom: 0;
}

.footer h2 {
    text-align: center;
}

.form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid saddlebrown;
    background: none;
}

a {
    color: darkcyan;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: darkcyan;
    font-weight: bold;
}

a:active {
    color: darkblue;
}

a:visited {
    color: gray   ;
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.form .contact {
    margin-bottom: 15px;
}

.form-row .contact {
    width: 50%;
    margin-right: 20px;
}

.form-row .contact:last-child {
    margin-right: 0;
}

.contact label {
    display: block;
}

@media (max-width: 685px) {
    .footer h2 {
        text-align-last: left;
    }
    
    .form-row {
        display: block;
    }

    .form-row .contact {
        margin-right: 0;
    }
}

.contact input,
.contact textarea {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 2px solid saddlebrown;
    color: saddlebrown;
    font-family: inherit;
    font-size: 16px;
    padding: 15px 0 10px;
    outline: none;
}

.form input::placeholder,
.form textarea::placeholder {
    color: rgba(139, 69, 19, .5);
}

.btn {
    font-family: inherit;
    color: azure;
    font-size: 16px;
    background: saddlebrown;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all .2s;
}

.btn:hover {
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
